In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
#parse and store the contents of the url call
url = "https://www.billboard.com/charts/hot-100/"
response = requests.get(url)

In [4]:
#check response status code 
response.status_code

200

In [5]:
website_data = response.text
soup = BeautifulSoup(website_data, "html.parser")

In [6]:
#print(soup.prettify())

In [7]:
songs = []
artists = []

In [8]:
soup.select(".charts-top-featured div h3")[0].text.replace('\n','')

"All Too Well (Taylor's Version)"

In [9]:
# get song
soup.select('h3.c-title.a-no-trucate')[0].get_text(strip=True)

"All Too Well (Taylor's Version)"

In [10]:
# get artist
soup.select('span.c-label.a-no-trucate')[0].get_text(strip=True)

'Taylor Swift'

In [11]:
from tqdm.notebook import tqdm

In [12]:
# append songs and artists to lists
for i in tqdm(range(100)):
    songs.append(soup.select('h3.c-title.a-no-trucate')[i].get_text(strip=True))
    artists.append(soup.select('span.c-label.a-no-trucate')[i].get_text(strip=True))

  0%|          | 0/100 [00:00<?, ?it/s]

In [13]:
# write to dataframe
import pandas as pd
df = pd.DataFrame({'songs':songs, 'artists':artists})
df

                              songs                                   artists
0   All Too Well (Taylor's Version)                              Taylor Swift
1                        Easy On Me                                     Adele
2                              Stay             The Kid LAROI & Justin Bieber
3                     Industry Baby                   Lil Nas X & Jack Harlow
4             Smokin Out The Window  Silk Sonic (Bruno Mars & Anderson .Paak)
..                              ...                                       ...
95                  Moth To A Flame          Swedish House Mafia & The Weeknd
96                   'Til You Can't                              Cody Johnson
97                            Woman                                  Doja Cat
98                   Take My Breath                                The Weeknd
99                      For Tonight                                    Giveon

[100 rows x 2 columns]

In [14]:
df.tail()

              songs                           artists
95  Moth To A Flame  Swedish House Mafia & The Weeknd
96   'Til You Can't                      Cody Johnson
97            Woman                          Doja Cat
98   Take My Breath                        The Weeknd
99      For Tonight                            Giveon

In [24]:
# Create a lowercase dataframe for search
df_lower = df.applymap(lambda s: s.lower() if type(s) == str else s)

In [41]:
song = input('Please enter a song: ').lower()
if df_lower['songs'].str.contains(song).any():
    print('Available')
else:
    print('Not available')
sample = df.sample()

Please enter a song: woman
Available

In [44]:
def get_random_song(x):
    sample = df.sample()
    print(sample)
    rec_song = sample.iloc[0, 0]
    rec_artist = sample.iloc[0, 1]
    if rec_song.lower() == x:
        get_random_song()
    else:
        print(f'Beetz recommends {rec_song} by {rec_artist}!')

In [42]:
sample = df.sample()
rec_song = sample.iloc[0, 0]
rec_artist = sample.iloc[0, 1]
print(f'Beetz recommends {rec_song} by {rec_artist}!')

Beetz recommends Easy On Me by Adele!

In [46]:
x = 'woman'
get_random_song(x)

          songs   artists
8  Need To Know  Doja Cat
Beetz recommends Need To Know by Doja Cat!